
#texture-pane-wrapper{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    height: 100%;
    width: 100%;
    position: absolute;
}

#texCanvasWrapper{
    height: 100%;
    width: 100%;
}
  
