
body {
    margin: 0;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


#texture-pane-wrapper{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    height: 100%;
    width: 100%;
    position: absolute;
}

#texCanvasWrapper{
    height: 100%;
    width: 100%;
}
  
