/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-mag-2015, 12.14.41
    Author     : Stefano Gabriele
*/

/*BROWSER RESETS ____________________________________________________________ */

html, body {
    /* display: block; */
    /* margin: 0; */
    height: 100%;
    width: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,

q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*_____________________________________________________________ BROWSER RESETS*/

b {
    font-weight: bold;
}

/* TOOLS PANE _______________________________________________________________ */

#mlj-tabbed-pane {
    font-size: 10pt;
}

/* Buttons ____________________________________________________________ */

.mjs-toolbar .ui-button .ui-button-text,
.ui-button .ui-button-text {
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

/* All elements with tag "img" inside class ".ui-button" */
.ui-button img {
    width: 18px;
    height: 18px;
    vertical-align: middle;   
}

.ui-button-right-align {
	float: right;
}

.ui-button-disabled {
    /* disabled: true; */
    /* pointer-events works ok, disabled - not making any change? */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
    /* pointer-events: none; */
    /* opacity: 0.3;  */
    /* cursor: not-allowed; */
    background: rgb(170, 170, 170);
    background-color: rgb(170, 170, 170);
    
}

.ui-button.mlj-toggle-on {
    background: rgb(169,219,128);
}

/* /\* LAYERS WIDGET ____________________________________________________________ *\/ */


/* MeshLabJs Toolbar style __________________________________________________ */

.mjs-toolbar {
    /* padding: 6px 5px; */
    background-color: #E0E0E0;
    /* background-color: #0F2D60; */
    /*background-color: #0D47A1;*/
    border-bottom: darkgray thin solid;
    white-space: nowrap;
}

/* https://stackoverflow.com/questions/22437514/how-to-keep-elements-on-same-line-with-overflow */
.mjs-toolbar > div {
  display: inline-block;
}

/* Custom Toggle Button _____________________________________________________ */

.mlj-custom-toggle-button {
    display: inline-block;
    /* padding-bottom: 8px; */
    position: relative;
}

.mlj-custom-toggle-button-arrow {
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0,0,0,0.2);
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.mlj-custom-toggle-button-arrow.arrow-selected {
    border-top: 6px solid black;
}

/* MeshLabJs global styles __________________________________________________ */

label[for='textureInfos'], label[for='textureName']{
    color: blue;
    font-weight: bold;
}

label[for='textureName'].error{
    color: red;
}

.fill {
    object-fit: fill;
}

.contain2 {
    object-fit: contain;
}

.cover {
    object-fit: cover;
}

.scale-down {
    object-fit: scale-down;
}

.none {
    object-fit: none;
}

#drop_area {
  width: 100%;
  height: 50%;
  border: 3px dashed #aaaaaa;
  border-radius: 10px;
  text-align: center;
}

.area
{
    border: 5px dotted #ccc;    
    /* padding: 50px;     */
    text-align: center;    
}

.drag
{
    border: 5px dotted green;            
    background-color: yellow;
}

#result ul{
    list-style: none;
    /* margin-top: 20px; */
}

#result ul li
{
    border-bottom: 1px solid #ccc;
    /* margin-bottom: 10px;     */
}

/* quilljs sticky note __________________________________________________ */

.content-area{
	line-height: 3;
}

.note p{
	font-family: 'Reenie Beanie', cursive;
	font-size: 15px;
}

.inactive-note {
    background-color: red;
    display: none;
}

.active-note {
    background-color: red;
    display: block;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.note-element-label{
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}

.note {
    background-color: #ff0000;
    position: absolute;
}

.imageTextInfo {
    /* both position: fixed, absolute are ok here. We want the imageTextInfo */
    /* to be anchored to top,left corner of the parent element */
    /* position: fixed; */
    position: absolute;
    background-color: grey;
    display: block;
}

#imageInfoBtn2 {
    background-color: grey;
}

.editor {
    background-color: #0000ff;
}

/* panes layout  __________________________________________________ */

._3DtopDown {
    /* position: absolute; */
    width: 100%;
    height: 100%;
}

.showFullSize {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

/* .combobox1 { */
/*     display: inline-block !important; */
/* } */


/* --------------- */
/* BEG Grid layout */
/* --------------- */

/* @media only screen and (orientation:portrait){ */
/*   body { */
/*     height: 100vw; */
/*     width: 100vw; */
/*     transform: rotate(90deg); */
/*   } */
/* } */



/* https://code-boxx.com/lock-screen-orientation/#sec-rotate */
/* option2 - causes complications, e.g. in topDownPane, when moving the finger in thex direction is interpreted as it moves in y direction in landscape mode */


/* /\* BEG option3 *\/ */
/* /\* in portrait display message to rotate to landscape *\/ */

/* @media only screen and (orientation:landscape){ */
/*   #turn{ display:none; } */
/*   #grid-container1{ */
/*       display: grid; */
/*       grid-template-columns: 10px repeat(auto-fill, minmax(170px, 1fr)); */
/*       grid-template-rows: 40px 40px auto; */
/*       /\* grid-gap: 1rem; *\/ */
/*       height: 90%; */
/*       width: 100%; */
/*   } */
/* } */

/* @media only screen and (orientation:portrait){ */
/*   #turn{ display:block; } */
/*   #grid-container1{ display:none; } */
/* } */

/* /\* END option3 *\/ */

#grid-container1{
    display: grid;
    grid-template-columns: 10px repeat(auto-fill, minmax(170px, 1fr));
    grid-template-rows: 40px 40px auto;
    /* grid-gap: 1rem; */
    height: 100%;
    width: 100%;
}

.bootstrap-override {
    position: relative;
    display: inline-block;
}

.nav>li {
    position: relative;
    /* position: absolute; */
    display: inline-block;
    opacity: 1.0;
    background-color: aliceblue;
    height: 40px;
    vertical-align: middle;
    padding: 0px 10px;
}

li > ul {
    position: relative;
    display: inline-block;
    opacity: 1.0;
    transform: translateY(50%);
}

.nav > li > a {
    padding: 0px 0px;
}


#sites-navbar-collapse-1{
    /* grid-column: 1; */
    /* grid-row: 1; */
}

.navbar-nav{
    margin: 0px 0px;
}

#navbar1{
    grid-column: 3 / span 3;
    grid-row: 1;
    touch-action: none;
    z-index: 2;
    opacity: 0.8;
    display: flex;
    margin-bottom: 0px;
}

#divImageInfo{
    grid-column: 6;
    grid-row: 1;
    z-index: 2;
    opacity: 0.8;
    display: flex;
    margin-bottom: 0px;
}

#mlj-scenebar{
    grid-column: auto;
    grid-row: 2;
    z-index: 2;
    opacity: 0.8;
    touch-action: none;
}

#viewOptions{
    grid-column: 1/span 2;
    /* position: relative; */
    z-index: 2;
    opacity: 0.8;
    display: inline;
    height: 40px;
}

#masterButton2{
    grid-column: 1/span 2;
    /* position: relative; */
    z-index: 2;
    opacity: 0.8;
    display: inline;
    height: 40px;
}

#masterButton3{
    grid-column: 1/span 2;
    /* position: relative; */
    z-index: 2;
    opacity: 0.8;
    display: inline;
    height: 40px;
}

#_3DWrapper{
    grid-column: auto / span 6;
    grid-row: 3 / span 6;
    position: relative;
    z-index: 2;
    opacity: 0.8;
    overflow: auto;
    border: 10px solid;
    padding: 5px;
    width: 45%;
    /* width: 15%; */
    height: 100%;
    touch-action: none;
}

#canvas3DtopDown{
    height: 80%;
    background-color: green;
}

#texture-pane-wrapper{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
    width: 100%;
    touch-action: none;
    position: absolute;
    z-index: 1;

    height: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    
}

#texCanvasWrapper{
    width: 100%;

    /* height: 100%; */
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
  
/* --------------- */
/* END Grid layout */
/* --------------- */

/* ---------------------- */
/* BEG image info related */
/* ---------------------- */

/* override the default settings of class .popover by providing heigher specificity */
/* specificity of "div.popover" is heigher than ".popover" */
div.popover {
    /* prevent dragging the page via click and drag of the element */
    pointer-events: none;
    background-color: blue;
}

/* override the default settings of class .popover-header by providing heigher specificity */
/* specificity of "h3.popover-header" is heigher than ".popover-header" */
h3.popover-header {
    /* prevent dragging the page via click and drag of the element */
    pointer-events: none;
    background-color: orange;
}

.popover-body {
    /* prevent dragging the page via click and drag of the element */
    pointer-events: none;
    background-color: red;
}

#imageInfoElement{
    display: none;
}

/* ---------------------- */
/* END image info related */
/* ---------------------- */

#saveFromWebServerToZipFileStatus{
    display: inline;
}

.topDownPaneResizer {
    width: 40px;
    height: 40px;
    background: #69dbce;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: move;
}

/* @media screen and (min-width : 768px) and (max-width : 1024px) { */
/*     body { */
/*         background: #ff0f; */
/*         border-top: 2px solid #DDDDDD; */
/*     } */
/* } */


/* @media screen and (max-width: 1000px) { */

/*     #mlj-scenebar { */
/*         /\* display: none; *\/ */
/*         background: #ff0f; */
/*     } */
   
/* } */

/* #alert_placeholder { */
/*     /\* position:absolute; *\/ */
/*     position:relative; */
/*     z-index: 999; */
/* } */

/* #bootstrap_alert_success { */
/*     position:absolute; */
/*     /\* position:relative; *\/ */
/*     z-index: 999; */
/* } */
